.container {
    border: 5px solid #ffcc5c;
    display: flex;
    /*flex-direction: row;*/
    /*justify-content: flex-end;*/
}

/*
.home {
    margin-right: auto;
}
*/

/*Flex allow objects automatically fit size of container
.container > div { 
    
    flex: 1;
}
*/

.home {
    /* Change flex to set the scale of components compared to others*/
    flex: 1;
}

.logout {
    flex: 1;
}