body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 300;
    margin: 0;
}

.container {
    width: 570px;
    margin: 0 auto;
}

h1, h2, .small{
    margin-top: 0;
}

h3, p {
    margin-bottom: 0;
}

h1 span, h2 span {
    font-weight: 900;
    display: block;
    color: #99d930;
}

h1, h2 {
    font-weight: 300;
    border-top: #c4c4c4 solid 1px;
    border-bottom: #c4c4c4 solid 1px;
    padding: 20px 0;
}

h1 {
    font-size: 60px;
}

h1 span {
    font-size: 80px;
}

h2 {
    font-size: 42px;
    margin-bottom: 20px;
}

h2 span {
    font-size: 60px;
}

h3 {
    font-size: 36px;
    font-weight: 900;
}

.small {
    font-size: 16px;
}

.small .name, .small time {
    color: #99d930;
    font-weight: 900;
}

a {
    color: #99d930;
}

a:hover, a:focus {
    color: #131313;
}

header, section {
    padding: 100px 0;
    background-color: #fff;
}

.inverse {
    background-color: #252525;
    color: #fff;
}

img {
    border: white solid 10px;
    border-radius: 250px;
    margin: 0;
}

.a-btn {
    background-color: #99d930;
    color: #252525;
    padding: 10px 25px;
    display: inline-block;
    margin-top: 25px;
    font-weight: bold;
    text-decoration: none;
}

.a-btn:hover, .a-btn:focus {
    background-color: #252525;
    color: #fff;
}

.inverse .a-btn:hover,
.inverse .a-btn:focus {
    background-color: #fff;
    color: #252525;
}